<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 id="title">Manage Fruits</h3>
                    </div>
                </div>
            </div>
            <table class="table table-hover" id="fruits">
                <thead id="thead">
                    <tr>
                        <th id="th-id">Id</th>
                        <td id="th-name">Name</td>
                    </tr>
                </thead>
                <tbody id="tbody">
                    <tr *ngFor="let fruit of fruits">
                        <td id="td-id">{{ fruit.id }}</td>
                        <td id="td-name">{{ fruit.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>